.wrapper {
    background-image: url(./Graphics/Backwall.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    background-color: black;
}

.borderOutside {
    background-color: rgb(76, 71, 71);
    border: 3px solid black;
    border-radius: 2rem;
    margin: 2vh 2vw;
    height: 96vh;
    width: 96vw;
    display: flex;   
    justify-content: center;
    align-items: center; 
    overflow: hidden;
}

.borderInside {
    height: 88vh;
    width: 88vw;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    overflow: hidden;
    border: 3px solid black;

}

.upperScreen {
    width: 100%;
    height: 90%;
    display: flex;
    background-image: url(./Graphics/Background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.personalButton {
    background-color: white;
    background-image: url(./Graphics/headIcon.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    height: 6rem;
    width: 6rem;
    margin: 2rem;
    border-radius: 1rem;
}

.appButton {
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    height: 6rem;
    width: 6rem;
    margin: 2rem;
    border-radius: 1rem;
}

.personal {
    background-image: url(./Graphics/headIcon.png);
}

.lowerScreen {
    background-color: #999;
    width: 100%;
    height: 10%;
    display: grid;
    justify-content: center;
    align-items: center;
}