.slideWrapper {
    display: inline-flex;
}

.rightSide {
    background-color: aqua;
    margin: 0;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.leftSlide {
    background-color: blue;
    width: 79%;
}